@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

:root {
  --dropdown-nav-height: 0px;
}

.sidebar-is-open {
  transform: translateX(0);
}

.accordian-section-is-open .js-accordian-toggle-button {
  background-color: gray;
}

.accordian-section-is-open .accordian-title {
  color: white;
}

.accordian-section-is-open .accordian-toggle-icon {
  color: white;
  transform: scale(-1);
}

.accordian-section-is-open .accordian-body {
  display: block;
}

.tab-button-is-selected {
  border-bottom: 4px solid #14b8a6;
  color: #14b8a6 !important;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-in-out {
  animation: fade-in-out 1s linear;
}
