@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

:root {
  --dropdown-nav-height: 0px;
}

.sidebar-is-open {
  transform: translateX(0);
}

.accordian-section-is-open .js-accordian-toggle-button {
  background-color: gray;
}

.accordian-section-is-open .accordian-title {
  color: white;
}

.accordian-section-is-open .accordian-toggle-icon {
  color: white;
  transform: scale(-1);
}

.accordian-section-is-open .accordian-body {
  display: block;
}
